# frozen_string_literal: true

module Mutations
  class Create<%= class_name %> < GraphQL::Schema::Mutation
    null true

<% attributes.each do |attribute| -%>
    argument :<%= attribute.name %>, <%= attribute.type.capitalize %>, required: false
<% end -%>

    field :<%= class_name.underscore %>, Types::<%= class_name %>, null: true
    field :errors, [String], null: false

    def resolve(<%= attributes.map { |attribute| "#{attribute.name}:" }.join(", ") %>)
      <%= class_name.underscore %> = <%= class_name %>.new(
<%= attributes.map { |attribute| "        #{attribute.name}: #{attribute.name}" }.join(",\n") %>
      )

      if <%= class_name.underscore %>.save
        return {
          <%= class_name.underscore %>: <%= class_name.underscore %>,
          errors: []
        }
      else
        return {
          <%= class_name.underscore %>: nil,
          errors: <%= class_name.underscore %>.errors.full_messages
        }
      end
    end
  end
end
