import React from 'react'
import gql from 'graphql-tag'
import { Mutation } from 'react-apollo'
import PropTypes from 'prop-types'

const mutation = gql`
  mutation Delete<%= class_name %>($id: ID!) {
    delete<%= class_name %>(id: $id) {
      <%= class_name.camelcase(:lower) %> {
        id
      }
    }
  }
`

const Delete<%= class_name %>Mutation = ({ children, variables, ...apolloProps }) => (
  <Mutation mutation={mutation} variables={variables} {...apolloProps}>
    {(delete<%= class_name %>Mutation, mutationResults) => children({ delete<%= class_name %>Mutation, mutationResults })}
  </Mutation>
)

Delete<%= class_name %>Mutation.propTypes = {
  children: PropTypes.func.isRequired,
  variables: PropTypes.object,
}

export default Delete<%= class_name %>Mutation
