import React from 'react'
import gql from 'graphql-tag'
import { Mutation } from 'react-apollo'
import PropTypes from 'prop-types'

const mutation = gql`
  mutation Update<%= class_name %>($id: ID!, <%= attributes_for_grahql.map { |attribute| "$#{attribute.name.camelcase(:lower)}: #{attribute.type.capitalize}!" }.join(", ") %>) {
    update<%= class_name %>(id: $id, <%= attributes_for_grahql.map { |attribute| "#{attribute.name.camelcase(:lower)}: $#{attribute.name.camelcase(:lower)}" }.join(", ") %>) {
      <%= class_name.camelcase(:lower) %> {
<%= attributes_for_grahql.map { |attribute| "        #{attribute.name.camelcase(:lower)}" }.join("\n") %>
      }
    }
  }
`

const Update<%= class_name %>Mutation = ({ children, variables, ...apolloProps }) => (
  <Mutation mutation={mutation} variables={variables} {...apolloProps}>
    {(update<%= class_name %>Mutation, mutationResults) => children({ update<%= class_name %>Mutation, mutationResults })}
  </Mutation>
)

Update<%= class_name %>Mutation.propTypes = {
  children: PropTypes.func.isRequired,
  variables: PropTypes.object,
}

export default Update<%= class_name %>Mutation
