# frozen_string_literal: true

module Types
  class <%= class_name %> < Types::BaseObject
    field :id, ID, null: false
<% attributes.each do |attribute| -%>
    field :<%= attribute.name %>, <%= attribute.type.capitalize %>, null: true
<% end -%>
    field :created_at, String, null: false
    field :updated_at, String, null: false
  end
end
