# frozen_string_literal: true

module Types
  class <%= type_file.camelcase %> < Types::BaseObject
    field :id, ID, null: false
    <% attributes.each do |attribute| -%>
<% attributes.each do |attribute| -%>
    field :<%= attribute.name %>, <%= attribute.type %>, null: true
<% end -%>
<% if options[:timestamps] %>
    field :created_at, String, null: false
    field :updated_at, String, null: false
<% end -%>
  end
end